Automated Job Search.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -540,
        -20
      ],
      "id": "4110378a-1e19-4f61-85e0-7a6debfe0005",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Company Email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -140,
        -20
      ],
      "id": "12ff88e1-7f89-4a86-ad3d-d2fb1a66e274",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/qmCVXpwqjA8X3VH6.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        80,
        -20
      ],
      "id": "3071283e-2ffb-4915-becc-73634166109e",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 25
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        300,
        -20
      ],
      "id": "0ed4584a-d7d5-4945-a818-fd3c45e1ad68",
      "name": "Limit",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "23a15850-f1d3-4535-af75-94a42ef8115f",
              "leftValue": "={{ $('Aggregate').item.json['Company Email'] }}",
              "rightValue": "={{ $json.choices[0].message.content }}",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1620,
        -20
      ],
      "id": "734a7b62-2571-43fe-943d-9a1805270d5e",
      "name": "Filter"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QwDOvGDVKDeSNERdx-nKwdXvHNBeIS-8wq8DMFWRW04",
          "mode": "list",
          "cachedResultName": "Job List Record",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QwDOvGDVKDeSNERdx-nKwdXvHNBeIS-8wq8DMFWRW04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QwDOvGDVKDeSNERdx-nKwdXvHNBeIS-8wq8DMFWRW04/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -360,
        -20
      ],
      "id": "fa37f568-6460-4412-a616-3d30f1a2752f",
      "name": "Get Previous Record",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q1Yb9kUmIkHOCZQs",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"deepseek-chat\",\n  \"response_format\": {\n    \"type\": \"json_object\",\n    \"json_schema\": {\n      \"name\": \"company_details\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"Querying HR Email\": {\n            \"type\": \"string\"\n          },\n          \"Company Name\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"Querying HR Email\",\n          \"Company Name\"\n          ],\n          \"additionalProperties\": false\n      },\n      \"strict\": true\n    }\n  },\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"You are a google search expert. Please convert this job title to natural language on querying the following 3 items: 1) HR email for the company, 2) the company name and 3) he company summary.\\n{\\n  \\\"Natural Language Query\\\": \\\"string\\\",\\n  \\\"Company Name\\\": \\\"string\\\",\\n  \\\"Company Summary\\\": \\\"string\\\"\\n}\"\n},\n    {\"role\": \"user\", \"content\": \"{{ $json.title }}\"}\n  ],\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        -20
      ],
      "id": "0d8e233b-abd6-4298-ad5a-3dc9a6f1d1d1",
      "name": "Convert to JSON string",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "7iuZ1tTxjfzlxLvA",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  const content = item?.json?.choices[0]?.message?.content;\n  try {\n    const contentJson = JSON.parse(content);\n    item.json.choices[0].message.content = contentJson;\n  } catch (error) {\n    console.log(\"Error parsing content to JSON:\", error);\n  }\n  return item;\n});\nreturn updatedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        -20
      ],
      "id": "4ce5fb4f-393a-4769-b9d9-8426e1c7717a",
      "name": "Convert JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a job hunting assistant. Retrieve data from a company and return the mail. If email does not exist, return \\\"N/A\\\". Return Email or N/A only, without any other information.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ JSON.stringify(json.choices[0].message.content['Natural Language Query']) }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -20
      ],
      "id": "6297a353-3345-485e-81e8-2a4bf7ba8c72",
      "name": "Get Email and Contact Number (Perplexity)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "u5f5dfxcK7jl75sn",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst emailPattern = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\nconst result = items.map((item) => {\n  const email = item?.json?.choices?.[0]?.message?.content;\n  if (email === \"N/A\" || emailPattern.test(email)) {\n    item.json.choices[0].message.content = email;\n  } else {\n    item.json.choices[0].message.content = \"N/A\";\n  }\n  return item;\n});\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        -20
      ],
      "id": "968c9c93-7d06-4f5c-9720-d9a2b53aecfb",
      "name": "Retrieve Email Addresses"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bd293319-92b5-4f63-b968-28316dabfee9",
              "leftValue": "={{ $json.choices[0].message.content }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1380,
        -20
      ],
      "id": "0697d671-3aa6-4491-ab02-89d49f7f2f35",
      "name": "If Email exists"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QwDOvGDVKDeSNERdx-nKwdXvHNBeIS-8wq8DMFWRW04",
          "mode": "list",
          "cachedResultName": "Job List Record",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QwDOvGDVKDeSNERdx-nKwdXvHNBeIS-8wq8DMFWRW04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QwDOvGDVKDeSNERdx-nKwdXvHNBeIS-8wq8DMFWRW04/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1880,
        -20
      ],
      "id": "69030b7f-f2f2-4c66-9a15-412d0db9d821",
      "name": "Save Contact",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q1Yb9kUmIkHOCZQs",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Previous Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Convert to JSON string",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Save Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Previous Record": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON string": {
      "main": [
        [
          {
            "node": "Convert JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert JSON": {
      "main": [
        [
          {
            "node": "Get Email and Contact Number (Perplexity)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email and Contact Number (Perplexity)": {
      "main": [
        [
          {
            "node": "Retrieve Email Addresses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Email Addresses": {
      "main": [
        [
          {
            "node": "If Email exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email exists": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e3f4a74-b433-4c75-a38a-0bad295eddb0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc3891b37e836ace96da4acc55237a88d45ea0128b741939bafe80534e575406"
  },
  "id": "xDs4JXoS60s66Qgb",
  "tags": []
}